  <header>
      <div class="jombotron jombotron-fluid bg-light">
         <div class="container">
            <div class="display-4">Shopp App</div>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consectetur consequatur a illum sequi labore ad optio, non doloremque necessitatibus facilis, debitis, officiis magnam. Eveniet nisi consequatur mollitia atque ex?</p>
         </div>
      </div>
    </header>